.atb-a-accent {
    position: relative;
    display: inline-block;
}

.atb-a-accent .base {
    font-family: 'ATB Serif', serif;
    font-style: italic;
}

.atb-a-accent .accent {
    position: absolute;
    left: 50%;
    top: 0em;
    transform: translateX(-50%);
    font-family: 'Junicode', serif;
    font-size: 0.9em;
}

/* Estilo para la letra í con acento */
.atb-i-accent {
    position: relative;
    display: inline-block;
}

.atb-i-accent .base {
    font-family: 'ATB Serif', serif;
    font-style: italic;
}

.atb-i-accent .accent {
    position: absolute;
    left: 50%;
    top: 0em;
    transform: translateX(-50%);
    font-family: 'Junicode', serif;
    font-size: 0.9em;
}

/* Estilo para la letra ó con acento */
.atb-o-accent {
    position: relative;
    display: inline-block;
}

.atb-o-accent .base {
    font-family: 'ATB Serif', serif;
    font-style: italic;
}

.atb-o-accent .accent {
    position: absolute;
    left: 50%;
    top: 0em;
    transform: translateX(-50%);
    font-family: 'Junicode', serif;
    font-size: 0.9em;
}

/* Estilo para la letra ú con acento */
.atb-u-accent {
    position: relative;
    display: inline-block;
}

.atb-u-accent .base {
    font-family: 'ATB Serif', serif;
    font-style: italic;
}

.atb-u-accent .accent {
    position: absolute;
    left: 50%;
    top: 0em;
    transform: translateX(-50%);
    font-family: 'Junicode', serif;
    font-size: 0.9em;
}

/* Estilo para la letra é con acento */
.atb-e-accent {
    position: relative;
    display: inline-block;
}

.atb-e-accent .base {
    font-family: 'ATB Serif', serif;
    font-style: italic;
}

.atb-e-accent .accent {
    position: absolute;
    left: 50%;
    top: 0em;
    transform: translateX(-50%);
    font-family: 'Junicode', serif;
    font-size: 0.9em;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .atb-a-accent .accent,
    .atb-i-accent .accent,
    .atb-o-accent .accent,
    .atb-u-accent .accent,
    .atb-e-accent .accent {
        top: 0.1em; /* Baja los acentos aún más en dispositivos móviles */
    }
} 